<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <style>
              hr{ 
  
                    border:         none;
                    border-left:    1px solid hsla(200, 10%, 50%,100);
                    height:         100vh;
                    width:          1px;       
                }
            </style>
            
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #2d4d64">
        <a class="navbar-brand"  href="#"><i id="brandsize" class="fa fa-globe" aria-hidden="true"></i> <span id="namesize">Geographical Indications of India</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signIn"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
            </li>
          </ul>

              <input class="form-control mr-sm-2" type="search" placeholder="Search for GI" style="width:150px;" aria-label="Search" id="search_item">
              <button class="btn btn-outline-link my-2 my-sm-0 button1 "  onclick="search()">Search</button>

        </div>
      </nav>
              <div class="jumbotron" style="margin-top:7em;margin-left:5%;margin-right:5%; width:90%;background:rgb(236, 232, 232)">
                   <div class="row text-center" style="display:flex ; flex-wrap:wrap"  >
                        <%console.log(giDetails)%>
                        <% if(giDetails===null) { %>
                          <h4>Sorry! No such GI found! Try Again.</h4>
                          <%}else{%>
                        <% for (var key in giDetails) { %>
                            <div style="margin-bottom:3%" >
                                    <button type="button" class="btn btn-primary" style="width:100%;border-radius:10%;margin-top:10px;margin-bottom:10px"><h1><%=giDetails[key].name%></h1></button>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                <img  src="<%=giDetails[key].dpurl%>" style="border-radius:10%;width:90%;padding:5%;border:5px solid grey" alt="Card image">         
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <h2 style="margin-top:10%"><%=giDetails[key].detail %></h2>
                                        </div>
                                        <div class="alert alert-primary" role="alert" style="width:70%; margin-left:5%;margin-right:5%">
                                            <h2>Uniqueness:</h2>
                                            <%for (var k in giDetails[key].uniqueness){%>
                                            <p><%=giDetails[key].uniqueness[k].info %></p>
                                            <%}%>
                                        </div>
                                        <div class="alert alert-success" role="alert">
                                              <h2>Seller Info:</h2>
                                              <%for (var k in giDetails[key].seller){%>
                                                  <p><%=giDetails[key].seller[k].name %></p>
                                                  <p><%=giDetails[key].seller[k].contact %></p>
                                                  <p><%=giDetails[key].seller[k].address %></p>
                                              <%}%>
                                        </div>
                                    </div>
                            </div>
                                          
                          <%}}%>
                   </div>
                
                </div>  

                


                  
                  

                   <!-- <div class="container">
                      <% for (var key in giDetails) { %>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="thumbnail">
                                <img src="<%=giDetails[key].dpurl%>" class="img-responsive" alt="Card image">
                                <div class="caption-full">
                                    <h4><a href=""> <%=giDetails[key].name %></a></h4>
                                    <p><%=giDetails[key].detail %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div> -->

                <!-- <div class="ui main text container segment">
                    <% for (var key in giDetails) { %>                      
                    <div class="ui huge header"><%=giDetails[key].name%></div>
                    <div class="ui top attached">
                        <div class="item">
                            <img class="ui centered rounded image " src="<%=giDetails[key].dpurl%>">
                            <div class="description">
                                <p><%=giDetails[key].detail %></p>
                            </div>
                        </div>                   
                    </div>
                    <%}%>
                </div> -->
    </body>
    <script>
    function search(){
      var search=document.getElementById('search_item').value;
      console.log(search)
      location.href="/search/"+search;
    }
    </script>
</html>